---
import { Counter } from '../components/Counter';
import MainLayout from '../layouts/MainLayout.astro';

/* Cuando usamos prerender en true que es el valor por defecto le indicamos a 
Astro que la pagina va a ser prerenderizada y se va a mostrar de forma estática.
Si lo usamos el false quiere decir que la pagina va a ser dinámica y se va a generar
del lado del servidor. */
// export const prerender = false;

const counterValue = 4321;
console.log({ counterValue });
---

<MainLayout title='Home Page'>
  <h1 class='text-3xl'>Home Page</h1>
  <hr />

  <h1>Counter: {100}</h1>

  <button class='bg-blue-500 p-2 rounded text-white'>Increment</button>
  <button class='bg-blue-500 p-2 rounded text-white'>Decrement</button>

  <!-- Counter React -->
  <h1 class='text-5xl'>React</h1>
  <Counter client:load initialValue={counterValue} />
</MainLayout>
