---
import { getCollection } from 'astro:content'
import BlogPost from '../components/BlogPost.astro'
import Layout from '../layouts/Layout.astro'

// const allPosts = await Astro.glob('./posts/*.md')
const allPosts = await getCollection('posts')
---

<Layout title="Astro Blog">
	<h1>Mi sitio Astro</h1>
  <h1>Mi blog de Astro aprendizaje</h1>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>

  <ul>
    {allPosts.map((post) => (
      <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
    ))}
  </ul>
</Layout>
