---
import CartInfo from "./svelte/CartInfo.svelte";
---

<header class="w-full py-6 bg-white shadow">
  <section
    class="container flex flex-row items-center justify-between w-5/6 mx-auto"
  >
    <h1 class="font-sans text-4xl font-bold text-slate-700">Fake</h1>

    <nav>
      <ul class="flex items-center justify-center gap-4">
        <li>
          <a
            href="/"
            class="px-2 py-1 font-medium rounded-sm hover:bg-gray-200 hover:shadow"
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            href="/about"
            class="px-2 py-1 font-medium rounded-sm hover:bg-gray-200 hover:shadow"
          >
            Acerca de
          </a>
        </li>
        <li>
          <a
            href="/interactivity"
            class="px-2 py-1 font-medium rounded-sm hover:bg-gray-200 hover:shadow"
          >
            Interactividad
          </a>
        </li>
      </ul>
    </nav>

    <CartInfo client:visible />
  </section>
</header>
