---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Tesla - El coche de tus sueños (y de Elon Musk)">
	<main>
		<h1 class="text-5xl text-slate-800">Hello Tesla Landing</h1>
	</main>
</Layout>
