---
import Title from '@/components/shared/Title.astro';
import PokemonCard from '../components/pokemons/PokemonCard.astro';
import type { PokemonListResponse } from '../interfaces/pokemon-list.response';
import MainLayout from '../layouts/MainLayout.astro';

/* Al ser esta una pagina que se genera de forma estatica, podemos hacer una petición
http desde la misma sin ningun problema, ya esta petición solo se hara una vez
al momento de hacer build de la pagina */
const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = (await resp.json()) as PokemonListResponse;

const title = 'Pokémon Static | Home';
---

<MainLayout title={title}>
	<Title>Listado de Pokémones</Title>

	<section
    aria-label="Listado de Pokémones"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    {data.results.map(({ name, url }) => (
			<PokemonCard name={name} url={url} />
		))}
  </section>
</MainLayout>
