---
/* Creamos un Layout para usarlo en diferentes rutas de la pagina */

import Navbar from '../components/Navbar.astro';

/* Definimos las props del componente */
interface Props {
  title: string;
}

/* Extraemos las props del componente */
const { title } = Astro.props;
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    
    <title>{title}</title>
  </head>

  <body>
    <Navbar />

    <main class='container max-w-3xl px-5'>
      <slot />
    </main>
  </body>
</html>
